@{
    ViewData["Title"] = "Главная страница";
}

<div class="title-container">
    <div class="img waves-background"></div>
    <h1 id="main-title" data-text="Главная">
        Главная
    </h1>
</div>